$lightGrey: #e6e6e6;
$darkGrey: #494949;
$errorRed: #DC182F;
$confirmGreen: #3bb300;
$selectRed: #CB1E24;
$toastGreen: #e6ffe6;
$toastRed:#ffb3b3;
$transparentWhite: rgba(255,255,255,0.8);

$cardListRowHeight:28px;