@import "mixin";
@import "variables";
@import "animations";

*{
	box-sizing:border-box;
 	
}

.noselect{
  	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* IE/Edge */
  	user-select: none;   	
}

.hidden{
	display:none;	
}

.noselect::selection{
	background: white;	
}

.noselect::-moz-selection{
	background: white;	
}


body{
	font-family: $baseFont;
	font-size:13px;
	margin:0;
	padding:0;
	background-image:url("../img/bg.png");
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	overflow-x:hidden;
}

a, a:hover, a:focus, a:active{
	font-size: inherit;
	color:inherit;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: inherit;
	color: inherit;
	margin:0;
	padding:0;
}

.clearer{
	clear:both;	
}

.btn{
	background: $darkGrey;
	color:white;
	border:none;
	cursor: pointer;
	display:inline-block;
	text-align:center;
	padding:10px 15px;
	font-family: $baseFont;
	font-size:12px;
	//font-weight: 700;
	letter-spacing:1px;
	//text-transform:uppercase;
}

.ra{
	font-size:15px;
	&.small{
		font-size: 12px;
	}
	&.big{
		font-size: 18px;
	}
}

.form-caption{
	font-size:18px;
	font-weight: 700;
	margin-bottom:20px;
	i{
		margin-right:8px;
	}
}

.panel{
	padding:30px;
	background-color: $transparentWhite;
	border-radius:2px;
}

#cardPreview{
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:250px;
  border-radius:13px;
  box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
  z-index:9999;
  transition: opacity 0.3s, transform 0.3s;
  @include scale(0.6);
  opacity:0;
  &.active{
  	@include scale(1);
    opacity:1;
  }
  img{
    width:100%;
  }
}

.header_wrapper{
	.message-bar{
		font-weight:400;
		font-size:12px;
		letter-spacing: 2px;
		padding:5px 15px;
		display:block;
		background:#C4C4C4;
		color:black;
		&.confirm{
			background:$confirmGreen;
			color:black;
		}
		&.error{
			background:$errorRed;
			color:white;
		}
	}
	.desk-navigation{
		background-color:rgba(255,255,255,0.8);
		ul{
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 1px;
			list-style: none;
			margin: 0;
			padding:0 15px;
			li{
				display: inline-block;
				margin-right: 20px;
				padding:10px 0;
				&.active, &:hover{
					color:$selectRed;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
}

.message-toast-wrapper{
	position:fixed;
	bottom:5px;
	right:30px;
	display:none;
	z-index:10;
	.message-toast{
		border-radius: 5px;
		box-shadow:0px 0px 5px rgba(0,0,0,0.5);
		width:350px;
		position:relative;
		padding:30px;
		background: $toastGreen;
		font-size: 12px;
		line-height: 18px;
		color:$confirmGreen;
		&.error{
			background: $toastRed;
			color:$errorRed;
		}
		&__close{
			position:absolute;
			right:15px;
			top:10px;
			font-size:10px;
			cursor:pointer;
		}
	}
}

.main{
	padding:15px;
	@include clearfix;
}

.new_card_wrapper {
	perspective: 10000px;
	width:350px;
	height: 616px;
	.flipper {
		transition: 0.6s all linear;
		transform-style: preserve-3d;
		position: relative;
	}
	form, .confirm {
		backface-visibility: hidden;
		display:block;
		width:350px;
		height: 616px;
		position: absolute;
		top: 0;
		left: 0;
	}
	form {
		z-index: 2;
		transform: rotateY(0deg);
	}

	.confirm {
		transform: rotateY(180deg);
		background: $transparentWhite;
		display: flex;
		align-items: center;
		justify-content: center;
		@include flex(direction, column);
		.caption{
			font-size: 24px;
		    border-top: 3px solid black;
		    font-weight: 700;
		    margin-top: 25px;
		    padding-top: 20px;
		}
	}

	&.done{
		.flipper{
			transform: rotateY(180deg);
		}
	}
	.anim-block{
		height:150px;
		width: 150px;
		//border:1px solid red;
		position:relative;
		.ra{
			color:black;
			position:absolute;
		}
		.hammer{
			font-size:70px;
			top: -5px;
			right:-30px;
			transform-origin: 10% 90%;
			@include transform(scaleX(-1) rotate(0deg));
		}
		.anvil{
			font-size:90px;
			left:20px;
			bottom: -10px;
		}
		&.play{
			.hammer{
				animation-name: hammer;
    			animation-duration: 1s;
			}
		}
	}
}

#previewCard{
	position:relative;
	#updateCard{
		color:$confirmGreen;
		position:absolute;
		cursor: pointer;
		top:0;
		right:0;
		.loading{
			display:none;
		}
		&.active{
			.loading{
				display:inline-block;
			}
		}
	}
	.card_render{
		width:100%;
	}
}

.card_form{
	width:100%;
	position:relative;
	#removeCard, #recoverCard{
		color:$selectRed;
		position:absolute;
		cursor: pointer;
		top:0;
		right:0;
		.message{

		}
		.confirm{
			display:none;
			color:black;
			#confirm i{
				color:$confirmGreen;
			}
			#cancel i{
				color:$selectRed;
			}
		}
		&.confirm{
			.message{
				display:none;
			}
			.confirm{
				display:inline;
			}
		}
	}
	input[type='text'], textarea, select{
		display:block;
		margin-bottom:10px;
		width:100%;
	}
	textarea{
		height:150px;
	}
	.flag_wrapper{
		@include clearfix;
		list-style: none;
		margin:0 0 20px;
		padding:0;
		li{
			display:block;
			position:relative;
			float:left;
			width:50%;
			height:30px;
			text-align:center;
			input[type="checkbox"]{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:0;
				visibility: hidden;
			}
			input[type="checkbox"]+label{
				position:relative;
				z-index:1;
				display:block;
				top:0;
				left:0;
				width:100%;
				height:100%;
				color:black;
				background: $lightGrey;
				line-height: 30px;
				cursor: pointer;
				i{
					margin-right:5px;
				}
			}
			input[type="checkbox"]:checked+label{
				color:white;
				background: $darkGrey;
			}
		}
	}
}

.control-area{
	float:left;
	width:350px;
	margin-left:30px;
	&.sticky{
		position:fixed;
		right:15px;
		top:10px;
	}
	.mid_wrapper{
		max-height: calc(100vh - 165px);
		overflow: auto;
    	overflow: overlay;
	}
}

.filter_panel{
	margin-bottom:20px;
	.form-caption{
		cursor: pointer;
		@include clearfix;
	}
	.card_results_string{
		font-size:12px;
		font-weight: 400;
	}
	.view-switch{
		float:right;
		cursor:pointer;
		opacity:0.5;
		&[data-view='list']{
			margin-top: 4px;
		}
		&[data-view='grid']{
			margin-top: 5px;
		}
		&.active{
			opacity:1;
		}
	}
	.filter-box{
		overflow:hidden;
		max-height:0;
		.row{
			height:40px;
			label{
				font-weight:700;
				letter-spacing: 1px;
				display:inline-block;
				width:90px;
			}
			select{
				width:100px;
			}
			i{
				display:inline-block;
				width:30px;
			}
			input[type='text']{
				width:160px;
			}
		}
		.flag_wrapper{
			@include clearfix;
			list-style: none;
			margin:0 0 20px;
			padding:0;
			li{
				display:block;
				position:relative;
				float:left;
				width:50%;
				height:30px;
				text-align:center;
				input[type="checkbox"]{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					z-index:0;
					visibility: hidden;
				}
				input[type="checkbox"]+label{
					position:relative;
					z-index:1;
					display:block;
					top:0;
					left:0;
					width:100%;
					height:100%;
					color:black;
					background: $lightGrey;
					font-weight: 400;
					line-height: 30px;
					cursor: pointer;
					i{
						margin-right:5px;
					}
				}
				input[type="checkbox"]:checked+label{
					color:white;
					background: $darkGrey;
					font-weight: 400;
				}
			}
		}
	}
	&:not(.active){
		.form-caption{
			margin-bottom:0;
		}
	}
	&.active{
		.filter-box{
			max-height: none;
		}
	}
}

.card-content{
	min-height:1px;
	float:left;
	width:calc(100% - 380px);
	.loading{
		width:100%;
		margin-bottom: 20px;
		padding: 30px;
		font-size: 30px;
		text-align:center;
		background: $transparentWhite;
		border-radius: 2px;
	}
	&.loaded{
		.loading{
			display:none;
		}
	}
}

.card-grid{
	width:100;
	display:none;
	position:relative;
	&.active{
		display:block;
	}
	.page-arrow{
		position: absolute;
		top: 50%;
		cursor: pointer;
		font-size: 30px;
		@include transition(0.2s all linear);
		opacity: 0.7;
		@include translate(0, -50%);
		&:hover{
			opacity: 1;
		}
		&.prev{
			left:3px;
			&:hover{
				left: 0;
			}
		}
		&.next{
			right:3px;
			&:hover{
				right: 0;
			}
		}
	}
	.book{
		width: 100%;
		min-height: 300px;
		position:relative;
		perspective: 3000px;
		&__tracker{
			float: left;
			width: 100%;
			text-align: center;
			margin: 0 0 20px;
			font-family: $specialFont;
			font-size: 18px;
			&.bottom{
				margin: 10px 0 0;
			}
		}
		&__page{
			box-shadow: 2px 0 7px rgba(0, 0, 0, 0.15);
			position:absolute;
			top: 0;
			left: 0;
			width:100%;
			//height: 100%;
			padding-bottom: 20px;
			background-image: url("../img/card_parts/seemless-parchment.png");
			//border:1px solid red;
			border-radius: 0 8px 8px 0 ;
			@include flexbox;
			@include flex(flow, row wrap);
			justify-content: space-between;
			transition: 0.6s all linear;
			transform-style: preserve-3d;
			transform-origin: 0 0;
			backface-visibility: hidden;
			&.flipped{
				transform: rotateY(-90deg);
			}
		}
		&__obscurer{
			position:absolute;
			top: 0;
			left: 0;
			width:100%;
			height:100%;
			border-radius: 0 8px 8px 0 ;
			transition: 0.6s transform linear, 0.4s opacity linear;
			transform-style: preserve-3d;
			transform-origin: 0 0;
			backface-visibility: hidden;
			min-height: 200px;
			background: linear-gradient(90deg, rgba(50,30,0,0.95), rgba(50,30,0,0.25));
			pointer-events: none;
			opacity: 1;
			&.flipped{
				transform: rotateY(-90deg);
			}
			&.show{
				opacity: 0;
			}
		}
		&__card{
			width: calc(20% - (10px * 3 / 4));
			margin-bottom: 10px;
			cursor: pointer;
			&__image{
				width:100%;
				display: block;
				border-radius: 8px;
    			box-shadow: 0 0 3px rgba(0, 0, 0, 1);
			}
		}
	}
}
.card-list{
	width:100%;
	display:none;
	&.active{
		display:block;
	}
	.row{
		@include clearfix;
		height:$cardListRowHeight;
		display: flex;
		flex-flow: row wrap;
		align-items:center;
		&.header{
			span{
				border-bottom:1px solid black;
				font-weight:600;
				text-transform:uppercase;
				letter-spacing: 1px;
				font-size:10px;
				&.sortable{
					cursor:pointer;
				}
				&.sorted{
					color: $confirmGreen;
				}
				.ra{
					position:relative;
					top: -5px;
					left: -3px;
					line-height: 12px;
				}
				&.image .fa{
					position:relative;
					top: -5px;
					font-size:14px;
					line-height: 12px;
				}
			}
		}
	}
	span{
		width:100px;
		display: block;
		float: left;
		&:nth-child(1){
			width:40px;
		}
		&:nth-child(2){
			width:calc(26% - 40px);
		}
		&:nth-child(3){
			width:8%;
		}
		&:nth-child(4){
			width:11%;
		}
		&:nth-child(5){
			width:8%;
		}
		&:nth-child(6){
			width:3%;
		}
		&:nth-child(7){
			width:3%;
		}
		&:nth-child(8){
			width:calc(41% - 40px);
		}
		&:nth-child(9){
			width:40px;
			text-align:center;
		}
		&:empty{
			height:14px;
		}

	}
	.card{
		[class^="card__"]:not(.card__name){
			font-size:11px;
		}
		&__name{
			cursor:pointer;
			font-size: 13px;
			line-height: 12px;
		}
		&__image{
			position:relative;
			cursor:pointer;
			img{
				width:24px;
				height:24px;
			}
		}
		&__to_sidedeck{
			i{
				cursor: pointer;
				font-size:15px;
			}
		}
		.ita{
			display: none;
		}
		.visual-flags{
			list-style:none;
			margin:0;
			padding:0;
			height:$cardListRowHeight;
			display: flex;
			li{
				display:block;
				width: 10%;
				border:1px solid $darkGrey;
				background: $lightGrey;
				line-height: $cardListRowHeight;
				text-align: center;
				.ra{
					line-height: 26px;
				}
			}
		}
		&.active{
			background-color: white;
			.visual-flags{
				li{
					background: white;
				}
			}
		}
		&:hover{
			background-color: rgba(255,255,255,0.6);
			.visual-flags{
				li{
					background: rgba(255,255,255,0.6);
				}
			}
		}
	}
}

.mode-tabs{
	list-style:none;
	margin:0;
	padding:0;
	background-color:rgba(255,255,255,0.8);
	border-radius:2px 2px 0 0;
	@include clearfix;
	.tab{
		display:block;
		float:left;
		width:50%;
		padding:10px 0;
		color: $darkGrey;
		text-align: center;
		font-size:18px;
		cursor:pointer;
		border-bottom:1px solid $darkGrey;
		&.first{
			border-right:1px solid $darkGrey;
		}
		&.active{
			color:black;
			border-bottom:none;
		}
	}
}

.tab-content{
	display:none;
	&.active{
		display:block;
	}
}

@import "sections/_imagelist.scss";

@import "sections/_combolist.scss";

@import "sections/_summary.scss";

@import "sections/_sidedeck.scss";

@import "sections/_sandbox.scss";