@font-face {
  font-family: 'candleBright';
  src: url("../fonts/candlebright.ttf") format("truetype"); }
@font-face {
  font-family: 'friz';
  src: url("../fonts/frizQuadrata.ttf") format("truetype"); }
@font-face {
  font-family: 'fira';
  src: url("../FiraSans-Regular.otf") format("truetype"); }
@keyframes bounceSidedeckFinger {
  0% {
    top: -16px; }
  38% {
    top: 4.5px; }
  100% {
    top: -16px; } }
@keyframes bounceSidedeckIcon {
  0% {
    top: 9px; }
  40% {
    top: 17px; }
  100% {
    top: 9px; } }
* {
  box-sizing: border-box; }

.noselect {
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-user-select: none;
  /* Chrome/Safari/Opera */
  -khtml-user-select: none;
  /* Konqueror */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* IE/Edge */
  user-select: none; }

.hidden {
  display: none; }

.noselect::selection {
  background: white; }

.noselect::-moz-selection {
  background: white; }

body {
  font-family: "friz", sans-serif;
  font-size: 13px;
  margin: 0;
  padding: 0;
  background-image: url("../img/bg.png");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed; }

a, a:hover, a:focus, a:active {
  font-size: inherit;
  color: inherit;
  text-decoration: none; }

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  margin: 0;
  padding: 0; }

.clearer {
  clear: both; }

.btn {
  background: #494949;
  color: white;
  border: none;
  cursor: pointer;
  display: inline-block;
  text-align: center;
  padding: 10px 15px;
  font-family: "friz", sans-serif;
  font-size: 12px;
  letter-spacing: 1px; }

.ra {
  font-size: 15px; }
  .ra.small {
    font-size: 12px; }
  .ra.big {
    font-size: 18px; }

.form-caption {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 20px; }
  .form-caption i {
    margin-right: 8px; }

.panel {
  padding: 30px;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px; }

#cardPreview {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 250px;
  border-radius: 13px;
  box-shadow: 0px 1px 15px 2px rgba(0, 0, 0, 0.75); }
  #cardPreview img {
    width: 100%; }

.header_wrapper .message-bar {
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 2px;
  padding: 5px 15px;
  display: block;
  background: #C4C4C4;
  color: black; }
  .header_wrapper .message-bar.confirm {
    background: #3bb300;
    color: black; }
  .header_wrapper .message-bar.error {
    background: #DC182F;
    color: white; }
.header_wrapper .desk-navigation {
  background-color: rgba(255, 255, 255, 0.8); }
  .header_wrapper .desk-navigation ul {
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    list-style: none;
    margin: 0;
    padding: 0 15px; }
    .header_wrapper .desk-navigation ul li {
      display: inline-block;
      margin-right: 20px;
      padding: 10px 0; }
      .header_wrapper .desk-navigation ul li:hover {
        color: #CB1E24; }
      .header_wrapper .desk-navigation ul li:last-of-type {
        margin-right: 0; }

.message-toast-wrapper {
  position: fixed;
  bottom: 5px;
  right: 30px;
  display: none;
  z-index: 10; }
  .message-toast-wrapper .message-toast {
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
    width: 350px;
    position: relative;
    padding: 30px;
    background: #e6ffe6;
    font-size: 12px;
    line-height: 18px;
    color: #3bb300; }
    .message-toast-wrapper .message-toast.error {
      background: #ffb3b3;
      color: #DC182F; }
    .message-toast-wrapper .message-toast__close {
      position: absolute;
      right: 15px;
      top: 10px;
      font-size: 10px;
      cursor: pointer; }

.main {
  padding: 15px; }
  .main:after {
    content: "";
    display: table;
    clear: both; }

.new_card_wrapper {
  width: 350px; }

#previewCard {
  position: relative; }
  #previewCard #updateCard {
    color: #3bb300;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0; }
    #previewCard #updateCard .loading {
      display: none; }
    #previewCard #updateCard.active .loading {
      display: inline-block; }
  #previewCard .card_render {
    width: 100%; }

.card_form {
  width: 100%;
  position: relative; }
  .card_form #removeCard, .card_form #recoverCard {
    color: #CB1E24;
    position: absolute;
    cursor: pointer;
    top: 0;
    right: 0; }
    .card_form #removeCard .confirm, .card_form #recoverCard .confirm {
      display: none;
      color: black; }
      .card_form #removeCard .confirm #confirm i, .card_form #recoverCard .confirm #confirm i {
        color: #3bb300; }
      .card_form #removeCard .confirm #cancel i, .card_form #recoverCard .confirm #cancel i {
        color: #CB1E24; }
    .card_form #removeCard.confirm .message, .card_form #recoverCard.confirm .message {
      display: none; }
    .card_form #removeCard.confirm .confirm, .card_form #recoverCard.confirm .confirm {
      display: inline; }
  .card_form input[type='text'], .card_form textarea, .card_form select {
    display: block;
    margin-bottom: 10px;
    width: 100%; }
  .card_form textarea {
    height: 150px; }
  .card_form .flag_wrapper {
    list-style: none;
    margin: 0 0 20px;
    padding: 0; }
    .card_form .flag_wrapper:after {
      content: "";
      display: table;
      clear: both; }
    .card_form .flag_wrapper li {
      display: block;
      position: relative;
      float: left;
      width: 50%;
      height: 30px;
      text-align: center; }
      .card_form .flag_wrapper li input[type="checkbox"] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
        visibility: hidden; }
      .card_form .flag_wrapper li input[type="checkbox"] + label {
        position: relative;
        z-index: 1;
        display: block;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        color: black;
        background: #e6e6e6;
        line-height: 30px;
        cursor: pointer; }
        .card_form .flag_wrapper li input[type="checkbox"] + label i {
          margin-right: 5px; }
      .card_form .flag_wrapper li input[type="checkbox"]:checked + label {
        color: white;
        background: #494949; }

.control-area {
  float: left;
  width: 350px;
  margin-left: 30px; }
  .control-area.sticky {
    position: fixed;
    right: 15px;
    top: 10px; }
  .control-area .mid_wrapper {
    max-height: calc(100vh - 165px);
    overflow: auto;
    overflow: overlay; }

.filter_panel {
  margin-bottom: 20px; }
  .filter_panel .form-caption {
    cursor: pointer; }
  .filter_panel .card_results_string {
    font-size: 12px;
    font-weight: 400; }
  .filter_panel .filter-box {
    overflow: hidden;
    max-height: 0; }
    .filter_panel .filter-box .row {
      height: 40px; }
      .filter_panel .filter-box .row label {
        font-weight: 700;
        letter-spacing: 1px;
        display: inline-block;
        width: 90px; }
      .filter_panel .filter-box .row select {
        width: 100px; }
      .filter_panel .filter-box .row i {
        display: inline-block;
        width: 30px; }
      .filter_panel .filter-box .row input[type='text'] {
        width: 160px; }
    .filter_panel .filter-box .flag_wrapper {
      list-style: none;
      margin: 0 0 20px;
      padding: 0; }
      .filter_panel .filter-box .flag_wrapper:after {
        content: "";
        display: table;
        clear: both; }
      .filter_panel .filter-box .flag_wrapper li {
        display: block;
        position: relative;
        float: left;
        width: 50%;
        height: 30px;
        text-align: center; }
        .filter_panel .filter-box .flag_wrapper li input[type="checkbox"] {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          z-index: 0;
          visibility: hidden; }
        .filter_panel .filter-box .flag_wrapper li input[type="checkbox"] + label {
          position: relative;
          z-index: 1;
          display: block;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: black;
          background: #e6e6e6;
          font-weight: 400;
          line-height: 30px;
          cursor: pointer; }
          .filter_panel .filter-box .flag_wrapper li input[type="checkbox"] + label i {
            margin-right: 5px; }
        .filter_panel .filter-box .flag_wrapper li input[type="checkbox"]:checked + label {
          color: white;
          background: #494949;
          font-weight: 400; }
  .filter_panel:not(.active) .form-caption {
    margin-bottom: 0; }
  .filter_panel.active .filter-box {
    max-height: none; }

.card-list {
  float: left;
  width: calc(100% - 380px); }
  .card-list .row {
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    .card-list .row:after {
      content: "";
      display: table;
      clear: both; }
    .card-list .row.header span {
      border-bottom: 1px solid black;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px; }
      .card-list .row.header span.sortable {
        cursor: pointer; }
      .card-list .row.header span.sorted {
        color: #3bb300; }
      .card-list .row.header span .ra {
        position: relative;
        top: -5px;
        left: -3px;
        line-height: 12px; }
      .card-list .row.header span.image .fa {
        position: relative;
        top: -5px;
        font-size: 14px;
        line-height: 12px; }
  .card-list span {
    width: 100px;
    display: block;
    float: left; }
    .card-list span:nth-child(1) {
      width: 40px; }
    .card-list span:nth-child(2) {
      width: calc(26% - 40px); }
    .card-list span:nth-child(3) {
      width: 8%; }
    .card-list span:nth-child(4) {
      width: 11%; }
    .card-list span:nth-child(5) {
      width: 8%; }
    .card-list span:nth-child(6) {
      width: 3%; }
    .card-list span:nth-child(7) {
      width: 3%; }
    .card-list span:nth-child(8) {
      width: calc(41% - 40px); }
    .card-list span:nth-child(9) {
      width: 40px;
      text-align: center; }
    .card-list span:empty {
      height: 14px; }
  .card-list .card [class^="card__"]:not(.card__name) {
    font-size: 11px; }
  .card-list .card__name {
    cursor: pointer;
    font-size: 13px; }
  .card-list .card__image {
    position: relative;
    cursor: pointer; }
    .card-list .card__image img {
      width: 24px;
      height: 24px; }
  .card-list .card__to_sidedeck i {
    cursor: pointer;
    font-size: 15px; }
  .card-list .card .ita {
    display: none; }
  .card-list .card .visual-flags {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 28px;
    display: flex; }
    .card-list .card .visual-flags li {
      display: block;
      width: 10%;
      border: 1px solid #494949;
      background: #e6e6e6;
      line-height: 28px;
      text-align: center; }
      .card-list .card .visual-flags li .ra {
        line-height: 26px; }
  .card-list .card.active {
    background-color: white; }
    .card-list .card.active .visual-flags li {
      background: white; }
  .card-list .card:hover {
    background-color: rgba(255, 255, 255, 0.6); }
    .card-list .card:hover .visual-flags li {
      background: rgba(255, 255, 255, 0.6); }

.mode-tabs {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 2px 2px 0 0; }
  .mode-tabs:after {
    content: "";
    display: table;
    clear: both; }
  .mode-tabs .tab {
    display: block;
    float: left;
    width: 50%;
    padding: 10px 0;
    color: #494949;
    text-align: center;
    font-size: 18px;
    cursor: pointer;
    border-bottom: 1px solid #494949; }
    .mode-tabs .tab.first {
      border-right: 1px solid #494949; }
    .mode-tabs .tab.active {
      color: black;
      border-bottom: none; }

.tab-content {
  display: none; }
  .tab-content.active {
    display: block; }

#imageList {
  padding: 30px;
  width: 450px;
  position: absolute;
  left: 75px;
  top: 0;
  display: none;
  box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.7); }
  #imageList.active {
    display: block; }
  #imageList:before {
    position: absolute;
    content: "";
    top: 2px;
    left: -20px;
    border-right: 10px solid rgba(255, 255, 255, 0.9);
    border-left: 10px solid transparent;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent; }
  #imageList .list-wrapper {
    text-align: center;
    position: relative; }
    #imageList .list-wrapper .close {
      position: absolute;
      right: -20px;
      top: -20px;
      font-size: 20px;
      cursor: pointer; }
    #imageList .list-wrapper .images {
      height: 245px; }
      #imageList .list-wrapper .images .iconImage {
        padding: 2px;
        width: 12.5%;
        cursor: pointer; }
    #imageList .list-wrapper .btn {
      margin-top: 18px; }

.combo-list {
  float: left;
  width: calc(100% - 380px); }
  .combo-list .row:after {
    content: "";
    display: table;
    clear: both; }
  .combo-list .row.header {
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    align-items: center; }
    .combo-list .row.header span {
      border-bottom: 1px solid black;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 10px;
      width: 100px;
      display: block;
      float: left; }
      .combo-list .row.header span.sortable {
        cursor: pointer; }
      .combo-list .row.header span.sorted {
        color: #3bb300; }
      .combo-list .row.header span:nth-child(1) {
        width: 20%; }
      .combo-list .row.header span:nth-child(2) {
        width: 15%; }
      .combo-list .row.header span:nth-child(3) {
        width: 15%; }
      .combo-list .row.header span:nth-child(4) {
        width: 50%; }
      .combo-list .row.header span:empty {
        height: 14px; }
  .combo-list .new-combo__top {
    height: auto;
    overflow: hidden;
    max-height: 0; }
    .combo-list .new-combo__top #newCombo:after {
      content: "";
      display: table;
      clear: both; }
    .combo-list .new-combo__top__left {
      float: left;
      width: calc(100% - 250px); }
      .combo-list .new-combo__top__left .input-row {
        margin-bottom: 20px; }
        .combo-list .new-combo__top__left .input-row:after {
          content: "";
          display: table;
          clear: both; }
        .combo-list .new-combo__top__left .input-row input[type='text'], .combo-list .new-combo__top__left .input-row select {
          width: 40%;
          max-width: 200px;
          height: 30px; }
        .combo-list .new-combo__top__left .input-row input[type='text'] {
          float: left; }
        .combo-list .new-combo__top__left .input-row select {
          float: right; }
      .combo-list .new-combo__top__left .added-cards-row:after {
        content: "";
        display: table;
        clear: both; }
      .combo-list .new-combo__top__left .added-cards-row .added-card {
        float: left;
        width: 168px;
        margin-right: 20px;
        height: 240px;
        height: 0;
        margin-bottom: 20px; }
        .combo-list .new-combo__top__left .added-cards-row .added-card img {
          width: 100%; }
        .combo-list .new-combo__top__left .added-cards-row .added-card .remove-inline-card {
          display: block;
          text-align: center;
          color: #CB1E24;
          cursor: pointer;
          font-size: 12px;
          line-height: 16px; }
        .combo-list .new-combo__top__left .added-cards-row .added-card.new-card {
          padding-top: 20px;
          padding-left: 20px;
          padding-right: 20px;
          height: 240px;
          border: 3px dashed black;
          border-radius: 10px;
          position: relative; }
          .combo-list .new-combo__top__left .added-cards-row .added-card.new-card span {
            font-size: 18px;
            font-weight: 700;
            display: block;
            margin-bottom: 20px; }
          .combo-list .new-combo__top__left .added-cards-row .added-card.new-card select {
            display: block;
            width: 100%; }
          .combo-list .new-combo__top__left .added-cards-row .added-card.new-card .btn {
            display: inline-block;
            position: absolute;
            bottom: 20px;
            width: calc(100% - 40px); }
    .combo-list .new-combo__top__right {
      width: 250px;
      float: left;
      padding-left: 20px; }
      .combo-list .new-combo__top__right textarea {
        width: 100%;
        height: 200px; }
  .combo-list .new-combo__bottom {
    background-color: white;
    padding: 10px 30px;
    cursor: pointer; }
    .combo-list .new-combo__bottom .new-combo__trigger {
      display: block; }
    .combo-list .new-combo__bottom .new-combo__actions {
      display: none; }
      .combo-list .new-combo__bottom .new-combo__actions span {
        margin-right: 20px;
        cursor: pointer; }
  .combo-list .new-combo.active .new-combo__top {
    max-height: 1500px; }
  .combo-list .new-combo.active .new-combo__bottom .new-combo__trigger {
    display: none; }
  .combo-list .new-combo.active .new-combo__bottom .new-combo__actions {
    display: block; }
  .combo-list .edit-combo {
    display: none; }
    .combo-list .edit-combo__top {
      height: auto; }
      .combo-list .edit-combo__top #editCombo:after {
        content: "";
        display: table;
        clear: both; }
      .combo-list .edit-combo__top__left {
        float: left;
        width: calc(100% - 250px); }
        .combo-list .edit-combo__top__left .input-row {
          margin-bottom: 20px; }
          .combo-list .edit-combo__top__left .input-row:after {
            content: "";
            display: table;
            clear: both; }
          .combo-list .edit-combo__top__left .input-row input[type='text'], .combo-list .edit-combo__top__left .input-row select {
            width: 40%;
            max-width: 200px;
            height: 30px; }
          .combo-list .edit-combo__top__left .input-row input[type='text'] {
            float: left; }
          .combo-list .edit-combo__top__left .input-row select {
            float: right; }
        .combo-list .edit-combo__top__left .added-cards-row:after {
          content: "";
          display: table;
          clear: both; }
        .combo-list .edit-combo__top__left .added-cards-row .added-card {
          float: left;
          width: 168px;
          margin-right: 20px;
          height: 240px;
          margin-bottom: 20px; }
          .combo-list .edit-combo__top__left .added-cards-row .added-card img {
            width: 100%; }
          .combo-list .edit-combo__top__left .added-cards-row .added-card .remove-inline-card {
            display: block;
            text-align: center;
            color: #CB1E24;
            cursor: pointer;
            font-size: 12px;
            line-height: 16px; }
          .combo-list .edit-combo__top__left .added-cards-row .added-card.new-card {
            padding-top: 20px;
            padding-left: 20px;
            padding-right: 20px;
            height: 240px;
            border: 3px dashed black;
            border-radius: 10px;
            position: relative; }
            .combo-list .edit-combo__top__left .added-cards-row .added-card.new-card span {
              font-size: 18px;
              font-weight: 700;
              display: block;
              margin-bottom: 20px; }
            .combo-list .edit-combo__top__left .added-cards-row .added-card.new-card select {
              display: block;
              width: 100%; }
            .combo-list .edit-combo__top__left .added-cards-row .added-card.new-card .btn {
              display: inline-block;
              position: absolute;
              bottom: 20px;
              width: calc(100% - 40px); }
      .combo-list .edit-combo__top__right {
        width: 250px;
        float: left;
        padding-left: 20px; }
        .combo-list .edit-combo__top__right textarea {
          width: 100%;
          height: 200px; }
    .combo-list .edit-combo__bottom {
      background-color: white;
      padding: 10px 30px;
      cursor: pointer; }
      .combo-list .edit-combo__bottom .new-combo__trigger {
        display: block; }
      .combo-list .edit-combo__bottom .new-combo__actions {
        display: none; }
        .combo-list .edit-combo__bottom .new-combo__actions span {
          margin-right: 20px;
          cursor: pointer; }
    .combo-list .edit-combo.active .new-combo__top {
      max-height: 1500px; }
    .combo-list .edit-combo.active .new-combo__bottom .new-combo__trigger {
      display: none; }
    .combo-list .edit-combo.active .new-combo__bottom .new-combo__actions {
      display: block; }
  .combo-list .combo .top {
    height: 28px;
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    width: 100%;
    overflow: hidden;
    max-height: 28px;
    -webkit-transition: 0.3s max-height ease-in-out;
    -moz-transition: 0.3s max-height ease-in-out;
    -ms-transition: 0.3s max-height ease-in-out;
    -o-transition: 0.3s max-height ease-in-out;
    transition: 0.3s max-height ease-in-out; }
    .combo-list .combo .top:after {
      content: "";
      display: table;
      clear: both; }
    .combo-list .combo .top:hover {
      background-color: rgba(255, 255, 255, 0.6); }
    .combo-list .combo .top span {
      width: 100px;
      display: block;
      float: left; }
      .combo-list .combo .top span:nth-child(1) {
        width: 20%;
        cursor: pointer; }
      .combo-list .combo .top span:nth-child(2) {
        width: 15%;
        font-size: 11px; }
      .combo-list .combo .top span:nth-child(3) {
        width: 15%;
        font-size: 11px; }
      .combo-list .combo .top span:nth-child(4) {
        width: 50%; }
      .combo-list .combo .top span:empty {
        height: 14px; }
    .combo-list .combo .top .combo__commands .control {
      cursor: pointer;
      margin-right: 20px; }
  .combo-list .combo .bottom {
    width: 100%; }
    .combo-list .combo .bottom .combo__content {
      float: left;
      width: 100%;
      overflow: hidden;
      height: auto;
      max-height: 0;
      -webkit-transition: 0.3s all ease-in-out;
      -moz-transition: 0.3s all ease-in-out;
      -ms-transition: 0.3s all ease-in-out;
      -o-transition: 0.3s all ease-in-out;
      transition: 0.3s all ease-in-out; }
      .combo-list .combo .bottom .combo__content .edit-combo {
        display: block; }
  .combo-list .combo.active .top {
    max-height: 0; }
  .combo-list .combo.active .combo__content {
    max-height: 1500px; }

.summary .row {
  margin-bottom: 20px;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear; }
  .summary .row:after {
    content: "";
    display: table;
    clear: both; }
  .summary .row.sub {
    overflow: hidden;
    margin-bottom: 20px;
    height: auto; }
    .summary .row.sub.collapsed {
      margin-bottom: 0;
      max-height: 0; }
.summary .main_box, .summary .main_detail_box {
  background-image: url("../img/card_parts/seemless-parchment.png");
  border: 10px solid #494949;
  padding: 50px 25px 40px;
  text-align: center;
  border-radius: 5px;
  width: 250px;
  position: relative;
  float: left;
  margin-right: 10px; }
  .summary .main_box:after, .summary .main_detail_box:after {
    content: "";
    display: table;
    clear: both; }
  .summary .main_box .main_title, .summary .main_detail_box .main_title {
    position: absolute;
    width: 100%;
    top: 5px;
    left: 0;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 700; }
  .summary .main_box .main_total, .summary .main_detail_box .main_total {
    font-size: 48px;
    line-height: 40px;
    font-weight: 700;
    float: left;
    width: 100%;
    font-family: "candleBright", serif;
    color: black;
    margin-bottom: 5px; }
  .summary .main_box .main_total_label, .summary .main_detail_box .main_total_label {
    float: left;
    font-size: 16px;
    text-transform: capitalize;
    width: 100%;
    margin-bottom: 20px; }
  .summary .main_box .corner, .summary .main_detail_box .corner {
    width: 65px;
    position: absolute; }
    .summary .main_box .corner.corner_0, .summary .main_detail_box .corner.corner_0 {
      top: 5px;
      left: 5px;
      -webkit-transform: rotate(90deg);
      -moz-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
      -o-transform: rotate(90deg);
      transform: rotate(90deg); }
    .summary .main_box .corner.corner_1, .summary .main_detail_box .corner.corner_1 {
      top: 5px;
      right: 5px;
      -webkit-transform: rotate(180deg);
      -moz-transform: rotate(180deg);
      -ms-transform: rotate(180deg);
      -o-transform: rotate(180deg);
      transform: rotate(180deg); }
    .summary .main_box .corner.corner_2, .summary .main_detail_box .corner.corner_2 {
      bottom: 5px;
      right: 5px;
      -webkit-transform: rotate(-90deg);
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      transform: rotate(-90deg); }
    .summary .main_box .corner.corner_3, .summary .main_detail_box .corner.corner_3 {
      bottom: 5px;
      left: 5px; }
  .summary .main_box .show_more, .summary .main_detail_box .show_more {
    position: absolute;
    cursor: pointer;
    bottom: 4px;
    left: 50%;
    -webkit-transform: translate(-50%, 0);
    -moz-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    -o-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    font-size: 18px; }
.summary .detail_box {
  border-radius: 3px;
  float: left;
  margin: 2px;
  width: calc((100% / 3) - 4px);
  padding: 5px; }
  .summary .detail_box .detail_icon {
    width: 30px;
    margin: 0 auto;
    display: block; }
  .summary .detail_box .detail_total {
    font-size: 24px;
    font-weight: 700; }
  .summary .detail_box .detail_icon + .detail_total {
    font-size: 20px; }
  .summary .detail_box .detail_title {
    font-size: 10px;
    text-transform: capitalize; }
.summary .row.sub .main_box, .summary .row.sub .main_detail_box {
  border-color: #7c7c7c; }

#sideDeck {
  position: absolute;
  top: 25px;
  right: -300px;
  -webkit-transition: 0.3s all linear;
  -moz-transition: 0.3s all linear;
  -ms-transition: 0.3s all linear;
  -o-transition: 0.3s all linear;
  transition: 0.3s all linear; }
  #sideDeck:after {
    content: "";
    display: table;
    clear: both; }
  #sideDeck .sidedeck-trigger {
    float: left;
    height: 35px;
    width: 35px;
    position: relative;
    font-size: 16px;
    cursor: pointer;
    overflow: hidden; }
    #sideDeck .sidedeck-trigger .fa-hand-o-down {
      right: 7px;
      top: -16px;
      position: absolute; }
    #sideDeck .sidedeck-trigger .fa-list-ul {
      right: 7px;
      top: 9px;
      position: absolute; }
  #sideDeck .sidedeck-body {
    float: left;
    width: 300px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.5);
    padding: 30px; }
  #sideDeck.active {
    right: 0; }
    #sideDeck.active .sidedeck-body {
      box-shadow: -2px 0 2px rgba(0, 0, 0, 0.5); }
  #sideDeck.anim-add .fa-hand-o-down {
    animation-name: bounceSidedeckFinger;
    animation-duration: 1s; }
  #sideDeck.anim-add .fa-list-ul {
    animation-name: bounceSidedeckIcon;
    animation-duration: 1s; }

/*# sourceMappingURL=style.css.map */
