@import "mixin";
@import "variables";
@import "animations";

*{
	box-sizing:border-box;
 	
}

.noselect{
  	-webkit-touch-callout: none; /* iOS Safari */
	-webkit-tap-highlight-color:  rgba(255, 255, 255, 0); 
  	-webkit-user-select: none;   /* Chrome/Safari/Opera */
  	-khtml-user-select: none;    /* Konqueror */
  	-moz-user-select: none;      /* Firefox */
  	-ms-user-select: none;       /* IE/Edge */
  	user-select: none;   	
}

.hidden{
	display:none;	
}

.noselect::selection{
	background: white;	
}

.noselect::-moz-selection{
	background: white;	
}


body{
	font-family: $baseFont;
	font-size:13px;
	margin:0;
	padding:0;
	background-image:url("../img/bg.png");
	background-size:cover;
	background-position:center center;
	background-attachment: fixed;
	overflow-x:hidden;
}

a, a:hover, a:focus, a:active{
	font-size: inherit;
	color:inherit;
	text-decoration: none;
}

h1,h2,h3,h4,h5,h6{
	font-size:inherit;
	font-weight: inherit;
	color: inherit;
	margin:0;
	padding:0;
}

.clearer{
	clear:both;	
}

.btn{
	background: $darkGrey;
	color:white;
	border:none;
	cursor: pointer;
	display:inline-block;
	text-align:center;
	padding:10px 15px;
	font-family: $baseFont;
	font-size:12px;
	//font-weight: 700;
	letter-spacing:1px;
	//text-transform:uppercase;
}

.ra{
	font-size:15px;
	&.small{
		font-size: 12px;
	}
	&.big{
		font-size: 18px;
	}
}

.form-caption{
	font-size:18px;
	font-weight: 700;
	margin-bottom:20px;
	i{
		margin-right:8px;
	}
}

.panel{
	padding:30px;
	background-color: $transparentWhite;
	border-radius:2px;
}

#cardPreview{
  display: block;
  position:absolute;
  top:0;
  left:0;
  width:250px;
  border-radius:13px;
  box-shadow: 0px 1px 15px 2px rgba(0,0,0,0.75);
  z-index:9999;
  img{
    width:100%;
  }
}

.header_wrapper{
	.message-bar{
		font-weight:400;
		font-size:12px;
		letter-spacing: 2px;
		padding:5px 15px;
		display:block;
		background:#C4C4C4;
		color:black;
		&.confirm{
			background:$confirmGreen;
			color:black;
		}
		&.error{
			background:$errorRed;
			color:white;
		}
	}
	.desk-navigation{
		background-color:rgba(255,255,255,0.8);
		ul{
			font-size: 12px;
			font-weight: 400;
			letter-spacing: 1px;
			list-style: none;
			margin: 0;
			padding:0 15px;
			li{
				display: inline-block;
				margin-right: 20px;
				padding:10px 0;
				&.active, &:hover{
					color:$selectRed;
				}
				&:last-of-type{
					margin-right: 0;
				}
			}
		}
	}
}

.message-toast-wrapper{
	position:fixed;
	bottom:5px;
	right:30px;
	display:none;
	z-index:10;
	.message-toast{
		border-radius: 5px;
		box-shadow:0px 0px 5px rgba(0,0,0,0.5);
		width:350px;
		position:relative;
		padding:30px;
		background: $toastGreen;
		font-size: 12px;
		line-height: 18px;
		color:$confirmGreen;
		&.error{
			background: $toastRed;
			color:$errorRed;
		}
		&__close{
			position:absolute;
			right:15px;
			top:10px;
			font-size:10px;
			cursor:pointer;
		}
	}
}

.main{
	padding:15px;
	@include clearfix;
}

.new_card_wrapper {
	perspective: 10000px;
	width:350px;
	height: 616px;
	.flipper {
		transition: 0.6s all linear;
		transform-style: preserve-3d;
		position: relative;
	}
	form, .confirm {
		backface-visibility: hidden;
		display:block;
		width:350px;
		height: 616px;
		position: absolute;
		top: 0;
		left: 0;
	}
	form {
		z-index: 2;
		transform: rotateY(0deg);
	}

	.confirm {
		transform: rotateY(180deg);
		background: $transparentWhite;
		display: flex;
		align-items: center;
		justify-content: center;
		@include flex(direction, column);
		.caption{
			font-size: 24px;
		    border-top: 3px solid black;
		    font-weight: 700;
		    margin-top: 25px;
		    padding-top: 20px;
		}
	}

	&.done{
		.flipper{
			transform: rotateY(180deg);
		}
	}
	.anim-block{
		height:150px;
		width: 150px;
		//border:1px solid red;
		position:relative;
		.ra{
			color:black;
			position:absolute;
		}
		.hammer{
			font-size:70px;
			top: -5px;
			right:-30px;
			transform-origin: 10% 90%;
			@include transform(scaleX(-1) rotate(0deg));
		}
		.anvil{
			font-size:90px;
			left:20px;
			bottom: -10px;
		}
		&.play{
			.hammer{
				animation-name: hammer;
    			animation-duration: 1s;
			}
		}
	}
}

#previewCard{
	position:relative;
	#updateCard{
		color:$confirmGreen;
		position:absolute;
		cursor: pointer;
		top:0;
		right:0;
		.loading{
			display:none;
		}
		&.active{
			.loading{
				display:inline-block;
			}
		}
	}
	.card_render{
		width:100%;
	}
}

.card_form{
	width:100%;
	position:relative;
	#removeCard, #recoverCard{
		color:$selectRed;
		position:absolute;
		cursor: pointer;
		top:0;
		right:0;
		.message{

		}
		.confirm{
			display:none;
			color:black;
			#confirm i{
				color:$confirmGreen;
			}
			#cancel i{
				color:$selectRed;
			}
		}
		&.confirm{
			.message{
				display:none;
			}
			.confirm{
				display:inline;
			}
		}
	}
	input[type='text'], textarea, select{
		display:block;
		margin-bottom:10px;
		width:100%;
	}
	textarea{
		height:150px;
	}
	.flag_wrapper{
		@include clearfix;
		list-style: none;
		margin:0 0 20px;
		padding:0;
		li{
			display:block;
			position:relative;
			float:left;
			width:50%;
			height:30px;
			text-align:center;
			input[type="checkbox"]{
				position:absolute;
				top:0;
				left:0;
				width:100%;
				height:100%;
				z-index:0;
				visibility: hidden;
			}
			input[type="checkbox"]+label{
				position:relative;
				z-index:1;
				display:block;
				top:0;
				left:0;
				width:100%;
				height:100%;
				color:black;
				background: $lightGrey;
				line-height: 30px;
				cursor: pointer;
				i{
					margin-right:5px;
				}
			}
			input[type="checkbox"]:checked+label{
				color:white;
				background: $darkGrey;
			}
		}
	}
}

.control-area{
	float:left;
	width:350px;
	margin-left:30px;
	&.sticky{
		position:fixed;
		right:15px;
		top:10px;
	}
	.mid_wrapper{
		max-height: calc(100vh - 165px);
		overflow: auto;
    	overflow: overlay;
	}
}

.filter_panel{
	margin-bottom:20px;
	.form-caption{
		cursor: pointer;
	}
	.card_results_string{
		font-size:12px;
		font-weight: 400;
	}
	.filter-box{
		overflow:hidden;
		max-height:0;
		.row{
			height:40px;
			label{
				font-weight:700;
				letter-spacing: 1px;
				display:inline-block;
				width:90px;
			}
			select{
				width:100px;
			}
			i{
				display:inline-block;
				width:30px;
			}
			input[type='text']{
				width:160px;
			}
		}
		.flag_wrapper{
			@include clearfix;
			list-style: none;
			margin:0 0 20px;
			padding:0;
			li{
				display:block;
				position:relative;
				float:left;
				width:50%;
				height:30px;
				text-align:center;
				input[type="checkbox"]{
					position:absolute;
					top:0;
					left:0;
					width:100%;
					height:100%;
					z-index:0;
					visibility: hidden;
				}
				input[type="checkbox"]+label{
					position:relative;
					z-index:1;
					display:block;
					top:0;
					left:0;
					width:100%;
					height:100%;
					color:black;
					background: $lightGrey;
					font-weight: 400;
					line-height: 30px;
					cursor: pointer;
					i{
						margin-right:5px;
					}
				}
				input[type="checkbox"]:checked+label{
					color:white;
					background: $darkGrey;
					font-weight: 400;
				}
			}
		}
	}
	&:not(.active){
		.form-caption{
			margin-bottom:0;
		}
	}
	&.active{
		.filter-box{
			max-height: none;
		}
	}
}

.card-list{
	float:left;
	width:calc(100% - 380px);
	.row{
		@include clearfix;
		height:$cardListRowHeight;
		display: flex;
		flex-flow: row wrap;
		align-items:center;
		&.header{
			span{
				border-bottom:1px solid black;
				font-weight:600;
				text-transform:uppercase;
				letter-spacing: 1px;
				font-size:10px;
				&.sortable{
					cursor:pointer;
				}
				&.sorted{
					color: $confirmGreen;
				}
				.ra{
					position:relative;
					top: -5px;
					left: -3px;
					line-height: 12px;
				}
				&.image .fa{
					position:relative;
					top: -5px;
					font-size:14px;
					line-height: 12px;
				}
			}
		}
	}
	span{
		width:100px;
		display: block;
		float: left;
		&:nth-child(1){
			width:40px;
		}
		&:nth-child(2){
			width:calc(26% - 40px);
		}
		&:nth-child(3){
			width:8%;
		}
		&:nth-child(4){
			width:11%;
		}
		&:nth-child(5){
			width:8%;
		}
		&:nth-child(6){
			width:3%;
		}
		&:nth-child(7){
			width:3%;
		}
		&:nth-child(8){
			width:calc(41% - 40px);
		}
		&:nth-child(9){
			width:40px;
			text-align:center;
		}
		&:empty{
			height:14px;
		}

	}
	.card{
		[class^="card__"]:not(.card__name){
			font-size:11px;
		}
		&__name{
			cursor:pointer;
			font-size: 13px;
			line-height: 12px;
		}
		&__image{
			position:relative;
			cursor:pointer;
			img{
				width:24px;
				height:24px;
			}
		}
		&__to_sidedeck{
			i{
				cursor: pointer;
				font-size:15px;
			}
		}
		.ita{
			display: none;
		}
		.visual-flags{
			list-style:none;
			margin:0;
			padding:0;
			height:$cardListRowHeight;
			display: flex;
			li{
				display:block;
				width: 10%;
				border:1px solid $darkGrey;
				background: $lightGrey;
				line-height: $cardListRowHeight;
				text-align: center;
				.ra{
					line-height: 26px;
				}
			}
		}
		&.active{
			background-color: white;
			.visual-flags{
				li{
					background: white;
				}
			}
		}
		&:hover{
			background-color: rgba(255,255,255,0.6);
			.visual-flags{
				li{
					background: rgba(255,255,255,0.6);
				}
			}
		}
	}
}

.mode-tabs{
	list-style:none;
	margin:0;
	padding:0;
	background-color:rgba(255,255,255,0.8);
	border-radius:2px 2px 0 0;
	@include clearfix;
	.tab{
		display:block;
		float:left;
		width:50%;
		padding:10px 0;
		color: $darkGrey;
		text-align: center;
		font-size:18px;
		cursor:pointer;
		border-bottom:1px solid $darkGrey;
		&.first{
			border-right:1px solid $darkGrey;
		}
		&.active{
			color:black;
			border-bottom:none;
		}
	}
}

.tab-content{
	display:none;
	&.active{
		display:block;
	}
}

#imageList{
	padding:30px;
	width:450px;
	position:absolute;
	left:75px;
	top:0;
	display:none;
	box-shadow: 0 0 20px 1px rgba(0,0,0,0.7);
	&.active{
		display:block;
	}
	&:before{
		position:absolute;
		content:"";
		top:2px;
		left:-20px;
		border-right: 10px solid rgba(255, 255, 255, 0.9);
		border-left: 10px solid transparent;
		border-top: 10px solid transparent;
		border-bottom: 10px solid transparent;
	}
	.list-wrapper{
		text-align: center;
		//overflow:auto;
		position:relative;
		.close{
			position:absolute;
			right:-20px;
			top:-20px;
			font-size:20px;
			cursor: pointer;
		}
		.header{
			text-align: left;
			font-size:12px;
			margin-bottom:20px;
			i{
				margin-right:7px;
			}
		}
		.images{
			height:245px;
			.iconImage{
				padding:2px;
				width: (100% / 8);
				cursor: pointer;
				&.used{
					border:2px solid $selectRed;
					background: $toastRed;
				}
			}
		}
		.commands{
			text-align: center;
			margin-top: 20px;
			.page{
				display: inline-block;
				margin: 0 2px;
				width:24px;
				height:24px;
				font-size:10px;
				background-color: $darkGrey;
				border-radius: 50%;
				color:white;
				text-align: center;
				line-height: 24px;
				cursor: pointer;
				&::selection{
					background: transparent;
				}
				&::-moz-selection{
					background: transparent;
				}
				&.current{
					cursor: default;
				}
				.fa{
					line-height: 24px;
				}
			}
		}
		.btn{
			margin-top:18px;
		}
	}
}

.combo-list{
	float:left;
	width:calc(100% - 380px);
	.row{
		@include clearfix;
		&.header{
			height:$cardListRowHeight;
			display: flex;
			flex-flow: row wrap;
			align-items:center;
			span{
				border-bottom:1px solid black;
				font-weight:600;
				text-transform:uppercase;
				letter-spacing: 1px;
				font-size:10px;
				&.sortable{
					cursor:pointer;
				}
				&.sorted{
					color: $confirmGreen;
				}
				width:100px;
				display: block;
				float: left;
				&:nth-child(1){
					width:20%;
				}
				&:nth-child(2){
					width:15%;
				}
				&:nth-child(3){
					width:15%;
				}
				&:nth-child(4){
					width:50%;
				}
				&:empty{
					height:14px;
				}
			}
		}
	}

	.new-combo{

		&__top{
			height:auto;
			overflow: hidden;
			max-height: 0;
			#newCombo{
				@include clearfix;
			}
			&__left{
				float: left;
				width: calc(100% - 250px);
				.input-row{
					margin-bottom: 20px;
					@include clearfix;
					input[type='text'], select{
						width:40%;
						max-width: 200px;
						height:30px;
					}
					input[type='text']{
						float:left;
					}
					select{
						float:right;
					}
				}
				.added-cards-row{
					@include clearfix;
					.added-card{
						float:left;
						//width: calc(33.333% - 20px);
						width:168px;
						margin-right: 20px;
						height:240px;
    					height: 0;
    					margin-bottom:20px;
						img{
							width:100%;
						}
						.remove-inline-card{
							display: block;
							text-align: center;
							color: $selectRed;
							cursor: pointer;
							font-size:12px;
							line-height: 16px;
						}
						&.new-card{
							padding-top:20px;
							padding-left:20px;
							padding-right:20px;
							height:240px;
							border: 3px dashed black;
							border-radius: 10px;
							position:relative;
							span{
								font-size: 18px;
								font-weight:700;
								display: block;
								margin-bottom: 20px;
							}
							select{
								display: block;
								width:100%;
							}
							.btn{
								display:inline-block;
								position:absolute;
								bottom:20px;
								width:calc(100% - 40px);
							}
						}
					}
				}
			}
			&__right{
				width:250px;
				float:left;
				padding-left:20px;
				textarea{
					width:100%;
					height:200px;
				}
			}
		}
		&__bottom{
			background-color: white;
			padding:10px 30px;
			cursor:pointer;
			.new-combo__trigger{
				display:block;
			}
			.new-combo__actions{
				display:none;
				span{
					margin-right:20px;
					cursor:pointer;
				}
			}
		}
		&.active{
			.new-combo__top{
				max-height: 1500px;
			}
			.new-combo__bottom{
				.new-combo__trigger{
					display:none;
				}
				.new-combo__actions{
					display:block;
				}
			}
		}
	}
	.edit-combo{
		display:none;
		&__top{
			height:auto;
			#editCombo{
				@include clearfix;
			}
			&__left{
				float: left;
				width: calc(100% - 250px);
				.input-row{
					margin-bottom: 20px;
					@include clearfix;
					input[type='text'], select{
						width:40%;
						max-width: 200px;
						height:30px;
					}
					input[type='text']{
						float:left;
					}
					select{
						float:right;
					}
				}
				.added-cards-row{
					@include clearfix;
					.added-card{
						float:left;
						width:168px;
						margin-right: 20px;
    					height:240px;
    					margin-bottom:20px;
						img{
							width:100%;
						}
						.remove-inline-card{
							display: block;
							text-align: center;
							color: $selectRed;
							cursor: pointer;
							font-size:12px;
							line-height: 16px;
						}
						&.new-card{
							padding-top:20px;
							padding-left:20px;
							padding-right:20px;
							height:240px;
							border: 3px dashed black;
							border-radius: 10px;
							position:relative;
							span{
								font-size: 18px;
								font-weight:700;
								display: block;
								margin-bottom: 20px;
							}
							select{
								display: block;
								width:100%;
							}
							.btn{
								display:inline-block;
								position:absolute;
								bottom:20px;
								width:calc(100% - 40px);
							}
						}
					}
				}
			}
			&__right{
				width:250px;
				float:left;
				padding-left:20px;
				textarea{
					width:100%;
					height:200px;
				}
			}
		}
		&__bottom{
			background-color: white;
			padding:10px 30px;
			cursor:pointer;
			.new-combo__trigger{
				display:block;
			}
			.new-combo__actions{
				display:none;
				span{
					margin-right:20px;
					cursor:pointer;
				}
			}
		}
		&.active{
			.new-combo__top{
				max-height: 1500px;
			}
			.new-combo__bottom{
				.new-combo__trigger{
					display:none;
				}
				.new-combo__actions{
					display:block;
				}
			}
		}
	}

	.combo{
		.top{
			@include clearfix;
			height:$cardListRowHeight;
			display: flex;
			flex-flow: row wrap;
			align-items:center;
			width:100%;
			overflow:hidden;
			max-height: $cardListRowHeight;
			@include transition(0.3s max-height ease-in-out);
			&:hover{
				background-color: rgba(255,255,255,0.6);
			}
			span{
				width:100px;
				display: block;
				float: left;
				&:nth-child(1){
					width:20%;
					cursor:pointer;
				}
				&:nth-child(2){
					width:15%;
					font-size: 11px;
				}
				&:nth-child(3){
					width:15%;
					font-size: 11px;
				}
				&:nth-child(4){
					width:50%;
				}
				&:empty{
					height:14px;
				}
			}
			.combo__commands{
				.control{
					cursor: pointer;
					margin-right:20px;
				}
			}

		}
		.bottom{
			width:100%;
			.combo__content{
				float:left;
				width:100%;
				overflow:hidden;
				height:auto;
				max-height: 0;
				@include transition(0.3s all ease-in-out);
				.edit-combo{
					display:block;
				}
			}
		}
		&.active{
			.top{
				max-height: 0;
			}
			.combo__content{
				max-height: 1500px;
			}
		}
	}
}

.summary{
	.row{
		@include clearfix;
		margin-bottom:20px;
		@include transition(0.3s all linear);
		&.sub{
			overflow: hidden;
			//margin-left:10px;
			margin-bottom:20px;
			height:auto;
			//max-height: 1000px;
			&.collapsed{
				margin-bottom:0;
				max-height: 0;
			}
		}
	}
	.main_box, .main_detail_box{
		//background-color: $transparentWhite;
		background-image: url("../img/card_parts/seemless-parchment.png");
		border: 10px solid $darkGrey;
		padding: 50px 25px 40px;
		@include clearfix;
		text-align: center;
		border-radius:5px;
		width: 250px;
		position:relative;
		float:left;
		margin-right:10px;
		.main_title{
			position:absolute;
			width:100%;
			top:5px;
			left:0;
			font-size: 13px;
			text-transform: capitalize;
			font-weight: 700;
		}
		.main_total{
			font-size:48px;
			line-height: 40px;
			font-weight: 700;
			float: left;
			width:100%;
			font-family: $specialFont;
			color:black;
			margin-bottom:5px;
		}
		.main_total_label{
			float: left;
			font-size: 16px;
			text-transform: capitalize;
			width:100%;
			margin-bottom:20px;
		}
		.corner{
			width:65px;
			position:absolute;
			&.corner_0{
				top:5px;
				left:5px;
				@include rotate(90);
			}
			&.corner_1{
				top:5px;
				right:5px;
				@include rotate(180);
			}
			&.corner_2{
				bottom:5px;
				right:5px;
				@include rotate(-90);
			}
			&.corner_3{
				bottom:5px;
				left:5px;
			}
		}
		.show_more{
			position:absolute;
			cursor:pointer;
			bottom:4px;
			left:50%;
			@include translate(-50%, 0);
			font-size:18px;
		}
	}
	.detail_box{
		border-radius:3px;
		float:left;
		margin:2px;
		width:calc((100% / 3) - 4px);
		padding:5px;
		.detail_icon{
			width: 30px;
			margin:0 auto;
			display: block;
		}
		.detail_total{
			font-size:24px;
			font-weight: 700;
		}
		.detail_icon+.detail_total{
			font-size:20px;
		}
		.detail_title{
			font-size: 10px;
			text-transform: capitalize;
		}
	}
	.row.sub{
		.main_box, .main_detail_box{
			border-color:lighten($darkGrey,20);
		}
	}

}

#sideDeck{
	position: absolute;
	top: 25px;
	right:-300px;
	@include clearfix;
	@include transition(0.3s all linear);
	.sidedeck-trigger{
		float:left;
		height:35px;
		width: 35px;
		position:relative;
		font-size: 16px;
		cursor:pointer;
		overflow: hidden;
		.fa-hand-o-down{
			right:7px;
			top:-16px;
			position: absolute;
		}
		.fa-list-ul{
			right:7px;
			top:9px;
			position: absolute;
		}
	}
	.sidedeck-wrapper{
		float:left;
		width:300px;
		background:rgba(255,255,255,0.9);
		box-shadow: 0 0 0 rgba(0,0,0,0.5);
		padding:20px 30px 25px;
		.sidedeck-header{
			padding-bottom: 10px;
			border-bottom:1px solid black;
			margin-bottom:15px;
			.title{
				font-size:16px;
				font-weight: 700;
				line-height: 16px;
			}
		}
		.sidedeck-commons{
			@include clearfix;
			padding-bottom: 15px;
			border-bottom:1px solid black;
			margin-bottom:15px;
			._token{
				position:relative;
				float:left;
				margin-right: 7px;
				cursor: pointer;
			}
		}
		.sidedeck-body{
			.sidedeck-card{
				height: $cardListRowHeight;
				margin-bottom:5px;
				@include clearfix;
				@include transition(0.15s all linear);
				@include translate(0,0);
				.sidedeck-class{
					float:left;
					width:5px;
					height:100%;
				}
				.sidedeck-icon{
					float:left;
					width:$cardListRowHeight;
					height:100%;
					margin-right:5px;
					&.clickable{
						cursor: pointer;
					}
				}
				.sidedeck-name{
					float:left;
					height:100%;
					line-height:$cardListRowHeight;
					font-size:12px;
					margin-right: 5px;
					width: calc(100% - (#{$cardListRowHeight}*3) - 15px);
					text-overflow: ellipsis;
					white-space: nowrap;
	    			overflow: hidden;
	    			&.clickable{
						cursor: pointer;
					}
				}
				.sidedeck-command{
					float: left;
					height:100%;
					width:$cardListRowHeight;
					text-align: center;
					i{
						line-height:$cardListRowHeight;
					}
					&.sidedeck-show{
						cursor: zoom-in;
					}
					&.sidedeck-remove{
						cursor: pointer;
					}
				}
				&:hover{
					@include translate(-5px,0);
				}
			}
		}
		.sidedeck-footer{
			margin-top:30px;
			padding-bottom: 10px;
			border-bottom:1px solid black;
			margin-bottom:15px;
			.title{
				font-size:12px;
				font-weight: 700;
				line-height: 12px;
			}
		}
		.sidedeck-command-line{
			height: $cardListRowHeight;
			margin-bottom:5px;
			@include clearfix;
			position:relative;
			cursor: pointer;
			overflow: hidden;
			.fa{
				font-size:16px;
			}
			.confirm, .cancel{
				position: absolute;
				top: 1px;
				right: -20px;
				@include transition(0.2s all linear);
			}
			.confirm{
				color:$confirmGreen;
			}
			.cancel{
				color:$errorRed;
			}
			&.active{
				.confirm{
					right: 32px;
				}
				.cancel{
					right:8px;
				}
			}
		}
	}
	&.active{
		right:0;
		.sidedeck-wrapper{
			box-shadow: -2px 0 2px rgba(0,0,0,0.5);
		}
	}
	&.anim-add{
		.fa-hand-o-down{
			animation-name: bounceSidedeckFinger;
    		animation-duration: 1s;
		}
		.fa-list-ul{
			animation-name: bounceSidedeckIcon;
    		animation-duration: 1s;
		}
	}
}

#sandbox{
	position:relative;
	height:calc(100vh - 90px);
	.element{
		cursor: move;
		&.card{
			width:150px;
			img{
				border-radius:7px;
				@include transition(0.2s box-shadow linear);
				display:block;
				width:100%;
				box-shadow: 0 0 7px rgba(0,0,0,0.7);
			}
		}
		&.token, &.health{
			._token{
				@include transition(0.2s box-shadow linear);
				box-shadow: 0 0 7px rgba(0,0,0,0.7);
			}
			&.ui-draggable-dragging{
				._token{
					box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				}
			}
		}
		&.ui-draggable-dragging{
			img{
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
			}
		}
		.commands{
			text-align: center;
			margin-top:5px;
			border-radius: 4px;
			opacity:0;
			background-color: white;
			color:black;
			@include transition(0.2s all linear);
			>div{
				display:inline-block;
				margin:0 10px;
				&.show{
					cursor: zoom-in;
				}
				&.remove{
					cursor: pointer;
				}
			}
		}
		&:hover{
			.commands{
				opacity:1;
			}
		}
	}
}

._token{
	display:block;
	height: $cardListRowHeight;
	width: $cardListRowHeight;
	border-radius: 50%;
	background: $darkGrey;
	text-align: center;
	color:white;
	position:relative;
	>i{
		font-size: 20px;
		line-height: $cardListRowHeight;
	}
	span{
		color: $darkGrey;
		display: block;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		@include center;
	}
}