#sandbox{
	position:relative;
	height:calc(100vh - 90px);
	min-height: 780px;
	padding: 5px;
	.area{
		height: calc((100% - 40px) / 3);
		border-radius: 5px;
		border: 5px solid rgba(0,0,0,0.3);
		margin: 10px 0;
		padding: 30px;
		position:absolute;
		color: rgba(0,0,0,0.3);
		font-size: 52px;
		font-family: $specialFont;
		display: flex;
	    align-items: center;
	    justify-content: center;
		&.servants{
			width: calc(50% - 15px);
			top:0;
		}
		&.equip{
			width: calc(50% - 15px);
			top:calc(33.333% - 5px);
		}
		&.aura{
			width: calc((50% / 3) - 15px);;
			top:calc(66.666% - 10px);
		}
		&.left{
			left: 0;
			margin-left: 10px;
			margin-right: 5px;
			text-align: left;
		}
		&.right{
			right:0;
			margin-left: 5px;
			margin-right: 10px;
			text-align:right;
		}
	}
	.element{
		cursor: move;
		&.card{
			width:140px;
			img{
				border-radius:7px;
				@include transition(0.2s box-shadow linear);
				display:block;
				width:100%;
				box-shadow: 0 0 7px rgba(0,0,0,0.7);
			}
			.thumb{
				display: none;
			}
			&.big{
				width: 190px;
				img{
					border-radius:10px;
				}
			}
			&.small{
				width: 90px;
				img{
					border-radius:4px;
				}
			}
			&.thumb{
				width: 40px;
				img{
					border-radius:2px;
				}
				.image{
					display:none;
				}
				.thumb{
					display: block;;
				}
			}
		}
		&.token, &.health{
			._token{
				@include transition(0.2s box-shadow linear);
				box-shadow: 0 0 7px rgba(0,0,0,0.7);
			}
			&.ui-draggable-dragging{
				._token{
					box-shadow: 0 5px 10px rgba(0,0,0,0.5);
				}
			}
		}
		&.ui-draggable-dragging{
			img{
				box-shadow: 0 5px 10px rgba(0,0,0,0.5);
			}
		}
		.commands{
			text-align: center;
			margin-top:5px;
			border-radius: 4px;
			opacity:0;
			background-color: white;
			color:black;
			@include transition(0.2s all linear);
			>div{
				display:inline-block;
				margin:0 10px;
				&.show{
					cursor: zoom-in;
				}
				&.remove{
					cursor: pointer;
				}
			}
		}
		&:hover{
			.commands{
				opacity:1;
			}
		}
	}
}

._token{
	display:block;
	height: $cardListRowHeight;
	width: $cardListRowHeight;
	border-radius: 50%;
	background: $darkGrey;
	text-align: center;
	color:white;
	position:relative;
	>i{
		font-size: 20px;
		line-height: $cardListRowHeight;
	}
	span{
		color: $darkGrey;
		display: block;
		text-align: center;
		font-size: 12px;
		font-weight: 700;
		@include center;
	}
}